<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房屋列表</title>
    <link rel="stylesheet" href="css/elementui.css"/>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/elementui.js"></script>
</head>
<body>
<div id="app">
    <el-form :inline="true" :model="houseQO">
        <el-form-item label="房号">
            <el-input v-model="houseQO.no" placeholder="请输入房号"></el-input>
        </el-form-item>
        <el-form-item label="楼宇">
            <el-select v-model="houseQO.buildingId" placeholder="请选择楼宇">
                <el-option
                        v-for="building in buildings"
                        :key="building.id"
                        :label="building.name+building.unit"
                        :value="building.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="业主">
            <el-select v-model="houseQO.ownerId" placeholder="请选择业主">
                <el-option
                        v-for="owner in owners"
                        :key="owner.id"
                        :label="owner.name"
                        :value="owner.id">
                </el-option>
            </el-select>
        </el-form-item>
        <br>
        <el-form-item label="面积">
            <el-input v-model="houseQO.minArea" placeholder="请输入面积"></el-input>
        </el-form-item>
        <el-form-item>
            <el-col class="line" :span="2">-</el-col>
        </el-form-item>
        <el-form-item>
            <el-input v-model="houseQO.maxArea" placeholder="请输入面积"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit(houseQO)">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table
            :data="houses"
            height="430"
            style="width: 100%">
        <el-table-column
                prop="no"
                label="房号"
                width="100">
        </el-table-column>
        <el-table-column
                prop="building.name,building.unit"
                label="楼宇名"
                width="180">
            <template slot-scope="scope">
                {{scope.row.building.name}}{{scope.row.building.unit}}
            </template>
        </el-table-column>
        <el-table-column
                prop="area"
                label="面积"
                width="100">
        </el-table-column>
        <el-table-column
                prop="note"
                label="备注"
                width="180">
        </el-table-column>
        <el-table-column
                prop="owner.name"
                label="业主"
                width="100">
        </el-table-column>
        <el-table-column
                prop="date"
                label="交房日"
                width="100">
        </el-table-column>
        <el-table-column
                prop="pic"
                label="图片"
                width="180">
        </el-table-column>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <br>
    <el-pagination
            background
            layout="prev, pager, next"
            @current-change="goPage"
            :page-count="pageCount">
    </el-pagination>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            buildings: [],
            owners: [],
            houseQO: {
                no: '',
                buildingId: '',
                ownerId: '',
                minArea: '',
                maxArea: ''
            },
            houses: [],
            pageCount: 0
        },
        methods: {
            goPage(page) {
                axios.get('house/getPageBean', {
                    params: {
                        page
                    }
                }).then(response => {
                    this.houses = response.data.data.data
                })
            },
            onSubmit(houseQO) {
                axios.get('house/getPageBean', {
                    params: {
                        houseQO
                    }
                }).then(response => {
                    this.houses = response.data.data.data
                    this.pageCount = response.data.data.totalPage
                })
            }
        },
        mounted: function () {
            axios.get('house/getPageBean').then(response => {
                this.houses = response.data.data.data
                this.pageCount = response.data.data.totalPage
            })
            axios.get('house/listBuildings').then(response => {
                this.buildings = response.data.data
            })
            axios.get('house/listOwners').then(response => {
                this.owners = response.data.data
            })
        }

    })
</script>
</body>
</html>