<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/elementui.css"/>
    <script src="js/vue.js"></script>
    <script src="js/elementui.js"></script>
    <script src="js/axios.min.js"></script>
</head>

<body style="background-color: #f2f9fd;">

<div id="app">


    <el-form :inline="true" :model="houseQO" class="demo-form-inline">
        <el-form-item label="房号">
            <el-input v-model="houseQO.no" placeholder="请输入房号"></el-input>
        </el-form-item>
        <el-form-item label="楼宇">
            <el-select v-model="houseQO.buildingId" placeholder="请选择楼宇">
                <el-option
                        v-for="building in buildings"
                        :key="building.id"
                        :label="building.name+building.units"
                        :value="building.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="面积">
            <el-input v-model="houseQO.minArea" placeholder="请输入面积"></el-input>
        </el-form-item>
        <el-form-item>
            <el-input v-model="houseQO.maxArea" placeholder="请输入面积"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table
            :data="houses"


            style="width: 100%">
        <el-table-column
                prop="no"
                label="房号"
                width="50">
        </el-table-column>

        <el-table-column

                label="楼宇"
                width="180">
            <template slot-scope="scope">
                {{scope.row.building.name}}{{scope.row.building.units}}
            </template>
        </el-table-column>
        <el-table-column
                prop="area"
                label="面积"
                width="180">
        </el-table-column>
        <el-table-column
                prop="remark"
                label="附注"
                width="180">
        </el-table-column>
        <el-table-column
                prop="owner.name"
                label="业主"
                width="100">
        </el-table-column>
        <el-table-column
                prop="deliveryDay"
                label="日期"
                width="180">
        </el-table-column>
        <el-table-column
                prop="image"
                label="图片"
                width="180">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        type="text"
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">修改
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除
                </el-button>
            </template>
        </el-table-column>


    </el-table>
    <br>
    <el-pagination
            background
            layout="prev, pager, next"
            @current-change="goPage"
            :page-count="pageCount">
    </el-pagination>



    <el-dialog title="修改房屋" :visible.sync="dialogFormVisible">
        <el-form :model="house">
            <el-form-item label="房号">
                <el-input v-model="house.no" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="楼宇" prop="buildingId">
                <el-select v-model="house.buildingId">
                    <el-option
                            v-for="building in buildings"
                            :key="building.id"
                            :label="building.name+building.units"
                            :value="building.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="面积" prop="area">
                <el-input v-model="house.area"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
                <el-input v-model="house.remark"></el-input>
            </el-form-item>
            <el-form-item label="业主" prop="ownerId">
                <el-select v-model="house.ownerId" placeholder="请选择业主">
                    <el-option
                            v-for="owner in owners"
                            :key="owner.id"
                            :label="owner.name"
                            :value="owner.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="交房日" prop="deliveryDay">
                <el-input v-model="house.deliveryDay"></el-input>
            </el-form-item>
            <el-form-item label="图片">
                <el-upload
                        class="avatar-uploader"
                        action="/house/upload"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess">
                    <img v-if="house.image" :src="house.image" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateHouse">确 定</el-button>
        </div>
    </el-dialog>



</div>
<script>
    new Vue({
        el: "#app",
        data: {
            houses: [],
            buildings: [],
            owners: [],
            houseQO: {
                no: '',
                buildingId: '',

                minArea: '',
                maxArea: ''
            },
            pageCount:0,


            house: {
                no: '',
                buildingId: '',
                area: '',
                remark: '',
                ownerId: '',
                deliveryDay: '',
                image: ''
            },
            dialogFormVisible: false,
            formLabelWidth: '120px'
        },


        methods: {
            goPage(page) {
                axios.get('house/list'+page, {
                    params: {
                        page
                    }
                }).then(response => {
                    this.houses = response.data.data.data
                })
            },
            search() {
                axios.get("/house/list", {
                    params: this.houseQO
                }).then(r => {
                    if (r.data.code == 200) {
                        this.houses = r.data.data.data
                        this.pageCount=r.data.data.totalPage
                    }
                })
            },
            handleEdit(index,row) {
                this.house = Object.assign({}, row)
                this.dialogFormVisible = true
            },
            updateHouse() {
                axios.post('/house/update', this.house).then(response => {
                    if (response.data.code === 200) {
                        this.$message.success('修改成功')
                        this.dialogFormVisible = false
                        location.href="/house_list.html";
                    } else {
                        this.$message.error(response.data.msg)
                    }
                }).catch(error => {
                    console.log(error)
                    this.$message.error('修改失败')
                })
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleAvatarSuccess(res, file) {
                this.house.image = res.data;
            }

        },

        mounted: function () {
            axios.get("/house/list").then(response => {
                this.houses = response.data.data.data
                this.pageCount = response.data.data.totalPage
            })
            axios.get('/building/list').then(response => {
                if (response.data.code == 200) {
                    this.buildings = response.data.data
                }
            })
            axios.get('house/listOwners').then(response => {
                this.owners = response.data.data
            })
        }

    });
</script>
</body>

</html>