<!DOCTYPE html>
<html>
<head>
    <title>后台管理中心</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
</head>

<body style="background-color: #f2f9fd;">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1>
            蜗牛学苑后台管理系统
        </h1>
    </div>
    <div class="head-l">
        <a class="button button-little bg-green" href="" target="right"> <span
                class="icon-home"></span>管理首页
        </a> &nbsp;&nbsp; <a class="button button-little bg-red" href="">
        <span class="icon-power-off"></span>退出登录
    </a>
        Welcome! XXX
    </div>
</div>
<div class="leftnav" id="app">
    <div class="leftnav-title">
        <strong><span class="icon-list"></span>菜单列表</strong>
    </div>
    <div v-for="menu in menus" v-if="menu.pid==null">
        <h2>
            <span class="icon-user">{{menu.name}}</span>
        </h2>
        <ul v-for="submenu in menus" v-if="submenu.pid==menu.id">
            <li>
                <a :href="submenu.link" target="right">
                    <span class="icon-caret-right">{{submenu.name}}</span></a>
            </li>
        </ul>
    </div>

</div>
<div class="admin">
    <iframe src="welcome.html" name="right" width="100%" height="100%"></iframe>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            menus:[]
        },
        mounted:function (){
            console.log(this)
            axios.get("/menu/left").then(r=>{
                console.log(this)
                console.log(r.data.data)
                this.menus=r.data.data;
            })
        }

    });
</script>
</body>

</html>